// app global css
.my-card
    width : 100%

.my-header
    height : 50px

.row
    width: 100%

.q-page-container
    padding-bottom: 100px
    padding-top: 100px

.film-tape-left
    width: 24.5%
    background-image: url("images/film_tape_left.png")
    background-repeat: repeat-y

.news-img
    width: 20%
    float: right 

.q-card
    border-radius: 0px

