// app global css 
.my-card
    width : 100%

.my-header
    height : 50px


.row + .row
    margin-top: 3em 

.q-page-container
    padding-bottom: 500px
    padding-top: 100px !important
    padding-left: 200px

.film-tape
    width: 200px
    height: 100%
    z-index: 1
    top: 0
    left: 0
    overflow-x: hidden
    transition: 0.5s
    padding-top: 60px
    background-image: url("img/tape.png")
    background-repeat: repeat-y

.right-slider
    z-index: 1
    overflow-x: hidden
    transition: 0.5s

.news-img
    height: auto
    width: 33.3333%
    float: right 
    margin-left: -140px
    margin-top: 10%

.v-card
    border-radius: 0px
    background: #c847d1 !important

.vertical-slider
    height: 100%
    vertical-align: center
    background: white !important

.footer
    position: relative
    width: 100%
    background: rgb(166,71,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(166,71,255,1) 0%, rgba(213,45,255,1) 37%, rgba(204,1,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100vh

.news-card-content
    width: 75%
    font-size: 19px
    text-align: center
    line-height: 1.6em
    padding: 50px

.container
    margin-right: 20px

.v-content
    padding-top: 0px !important

.app-bar-standard
    background: #c847d1 !important

.app-bar-starter
    background: transparent !important
    box-shadow: none
    position relative !important 
    height 50%

.landing
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: rgb(166,71,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(166,71,255,1) 0%, rgba(213,45,255,1) 37%, rgba(204,1,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.news-card-content-reflection
    width: 75%
    font-size: 19px
    text-align: center
    line-height: 1.6em
    padding: 50px
    float: right

.news-img-reflection
    height: auto
    width: 33.3333%
    float: right 
    margin-right: -140px
    z-index: 2
    margin-top: 10%

.card-title
    padding: 20px
    text-transform: uppercase
    font-size: 24px

.navbar--hidden
    display none

.card-title-line
    height: 1px
    width: 100%
    background: white
