// app global css
#app
    position: relative;
    overflow: hidden;

#app:before
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity 0.2
    background-image: url("img/tile.png");
    background-repeat: repeat;

.card-container
    background #e7e2f1 !important
    border #dad2ed 3px solid !important
    .row + .row
        margin-top: 2em

.my-header
    height : 50px

.custom-link
    color black !important
    text-decoration none

.notification-link
    color black !important
    text-decoration none

.notification-link:hover
    text-decoration underline

.film-tape
    min-height 100vh
    background-image: url("img/tape.png")
    background-repeat: repeat-y
    background-position: center

.news-img
    height: auto
    width: 33.3333%
    float: right
    margin-left: -140px
    margin-top: 10%
    margin-bottom: 5%

.v-card
    border-radius: 7px

.footer
    position: relative
    width: 100%
    background: rgb(166,71,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(166,71,255,1) 0%, rgba(213,45,255,1) 37%, rgba(204,1,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100vh

.news-card-content
    width: 75%
    font-size: 19px
    text-align: center
    line-height: 1.6em
    padding: 50px

.v-content
    padding-top: 0px !important

.app-bar-standard
    background: #8062a7 !important

.app-bar-starter
    background: transparent !important
    box-shadow: none
    position relative !important
    height 50%

.landing
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: rgb(166,71,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(166,71,255,1) 0%, rgba(213,45,255,1) 37%, rgba(204,1,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.news-card-content-reflection
    width: 75%
    font-size: 19px
    text-align: center
    line-height: 1.6em
    padding: 50px
    float: right

.news-img-reflection
    height: auto
    width: 33.3333%
    float: right
    margin-right: -140px
    z-index: 2
    margin-top: 10%
    margin-bottom: 5%

.card-title
    padding: 20px
    text-transform: uppercase
    font-size: 24px
    text-decoration none
    color black !important

.navbar--hidden
    display none

.card-title-line
    height: 0.5mm
    width: 100%
    background: #9d73ce

html .landing-page
    background: rgba(172,136,211,1);
    background: -moz-linear-gradient(-45deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(172,136,211,1)), color-stop(3%, rgba(172,136,211,1)), color-stop(3%, rgba(172,136,211,1)), color-stop(27%, rgba(172,136,211,1)), color-stop(100%, rgba(126,63,194,1)));
    background: -webkit-linear-gradient(-45deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);
    background: linear-gradient(135deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);

.landing-page
    .v-app-bar
        padding-top 30px
        background-color transparent
        box-shadow none
        margin-right 30px
        position relative
    .v-card
        position center
        min-height 112%
        margin-right 50px
    .v-tabs
        padding 20px
        box-shadow none
        padding-bottom 10px
        min-height 100%
    .landing-img
        margin-right 50px
        margin-left 30px
    .row + .row
        margin-top: 0em

.nav-icon
    color black !important
    font-size 40px !important
    cursor pointer

.nav-avatar
    cursor pointer

.app-bar-standard .v-input__slot
    background-color: #e1e1e1 !important
    min-height: 30px !important

.v-badge--overlap .v-badge__badge
    top -3px !important
    right -6px !important

.chat-header
    width 280px
    height: 50px
    cursor pointer
    font-weight bold

.chat-header .v-toolbar__content
    height 54px !important

.chat-messages
    height: 250px
    width 280px
    box-shadow: -1px 0px -1px 0px rgba(0,0,0,.2)
    overflow-y auto

.chat-area
    bottom 0px
    margin-bottom 0px
    z-index 3
    right 22%
    align-items flex-end
    position fixed

.chat-card
    border-bottom-left-radius 0%
    border-bottom-right-radius 0%

.chat-window + .chat-window
    margin-left 10px

.chat-container-item
    -webkit-box-align center
    align-items center
    display flex
    -webkit-box-flex 1
    flex 1 1 100%
    letter-spacing normal
    min-height 48px
    outline none
    padding 5px 16px 5px 16px
    position relative
    text-decoration none
    user-select none

.chat-container
    border-right #dad2ed 3px solid
    border-left #dad2ed 3px solid
    border-bottom #dad2ed 3px solid
    position fixed
    top 0
    right 0
    height 100%
    box-shadow: -1px 0px 0px 0px rgba(0,0,0,.2)
    margin-top: 64px
    width 20%
    padding-bottom 104px !important
    >.v-list
        background transparent !important

.custom-scroll
    overflow-y auto

.custom-scroll::-webkit-scrollbar
    width 10px

.custom-scroll::-webkit-scrollbar-track
    background #f1f1f1

.custom-scroll::-webkit-scrollbar-thumb
    background #888

.custom-scroll::-webkit-scrollbar-thumb:hover
    background #555

.chat-search
    .v-input__slot
        bottom 0px
        margin-bottom 0px
        z-index 3
        align-items flex-end
        position fixed
        box-shadow: 0px -1px 0px 0px rgba(0,0,0,.2)
        background #f6f6f6  !important
        border-top #dad2ed 3px solid
        border-bottom #dad2ed 3px solid
        border-right #dad2ed 3px solid

.outlined-input
    .v-input__slot
        background #f6f6f6 !important
        border #dad2ed 3px solid

.chat-window-avatar
    padding 5px

.chat-window
    .message-row
        margin-top: 0px
        padding-top 0px
        padding-bottom 0px
        font-size 12px
        display: flow-root

    .message-row + .message-row
        margin-top: 4px

.chat-messages
    padding 5px
    position: relative
    .content
        position absolute
        bottom 0px
        right 0px
        left 0px
        overflow-y auto
        max-height 100%
        padding-bottom 5px
        padding-top 5px


.message-card
    padding 4px
    box-shadow: -.1px -.1px -.1px -.1px rgba(0,0,0,.2)
    max-width 70%

.content
    position: absolute
    bottom: 0
    left: 0

.list-avatar
    height 80px !important
    width 80px !important

.app-alert
    z-index: 6
    height: 64px
    position fixed
    width 100%

.list-item
    position: relative;
    overflow: hidden;
    border #dad2ed 3px solid !important
    width 100%


.list-item:hover
    cursor pointer

.list-item:before
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    background-image: url("img/tile.png");
    background-repeat: repeat;

.list-item-title
    margin 0
    position absolute
    top 50%
    -ms-transform translateY(-50%)
    transform translateY(-50%)
    font-size 24px

.news-card
    position: relative;
    overflow: hidden;
    border #dad2ed 3px solid !important

.news-card:hover
    cursor pointer

.news-card:before
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    background-image: url("img/tile.png");
    background-repeat: repeat;

