// app global css
.my-card
    width : 100%

.my-header
    height : 50px

.row + .row
    margin-top: 3em

.film-tape
    width: 150px
    height: 100%
    z-index: 1
    margin-left: 35px
    background-image: url("img/tape.png")
    background-repeat: repeat-y

.right-slider
    z-index: 1
    overflow-x: hidden
    transition: 0.5s

.news-img
    height: auto
    width: 33.3333%
    float: right
    margin-left: -140px
    margin-top: 10%

.v-card
    border-radius: 10px
    background: white !important

.vertical-slider
    height: 100%
    vertical-align: center
    background: white !important

.footer
    position: relative
    width: 100%
    background: rgb(166,71,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(166,71,255,1) 0%, rgba(213,45,255,1) 37%, rgba(204,1,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 100vh

.news-card-content
    width: 75%
    font-size: 19px
    text-align: center
    line-height: 1.6em
    padding: 50px

.v-content
    padding-top: 0px !important

.app-bar-standard
    background: #9d73ce !important

.app-bar-starter
    background: transparent !important
    box-shadow: none
    position relative !important
    height 50%

.landing
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: rgb(166,71,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(166,71,255,1) 0%, rgba(213,45,255,1) 37%, rgba(204,1,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(166,71,255,1) 0%,rgba(213,45,255,1) 37%,rgba(204,1,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.news-card-content-reflection
    width: 75%
    font-size: 19px
    text-align: center
    line-height: 1.6em
    padding: 50px
    float: right

.news-img-reflection
    height: auto
    width: 33.3333%
    float: right
    margin-right: -140px
    z-index: 2
    margin-top: 10%

.card-title
    padding: 20px
    text-transform: uppercase
    font-size: 24px

.navbar--hidden
    display none

.card-title-line
    height: 0.5mm
    width: 100%
    background: #9d73ce

html .landing-page
    background: rgba(172,136,211,1);
    background: -moz-linear-gradient(-45deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(172,136,211,1)), color-stop(3%, rgba(172,136,211,1)), color-stop(3%, rgba(172,136,211,1)), color-stop(27%, rgba(172,136,211,1)), color-stop(100%, rgba(126,63,194,1)));
    background: -webkit-linear-gradient(-45deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);
    background: linear-gradient(135deg, rgba(172,136,211,1) 0%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 3%, rgba(172,136,211,1) 27%, rgba(126,63,194,1) 100%);

.landing-page
    .v-app-bar
        padding-top 30px
        background-color transparent
        box-shadow none
        margin-right 30px
        position relative
    .v-card
        position center
        min-height 112%
        margin-right 50px
    .v-tabs
        padding 20px
        box-shadow none
        padding-bottom 10px
        min-height 100%
    .landing-img
        margin-right 50px
        margin-left 30px
    .row + .row
        margin-top: 0em

.nav-icon
    color black !important
    font-size 40px !important
    cursor pointer

.nav-avatar
    cursor pointer

.app-bar-standard .v-input__slot
    background-color: #8d4ed6!important

.v-badge--overlap .v-badge__badge
    top -3px !important
    right -6px !important